body{
    background-image: url("./images/Sauti-sol-5.jpg");
    background-repeat: no-repeat;
    font-size: 30px;
     background-repeat: no-repeat;
     background-size: cover;
     height: 500px;
    
}
.About{
    color: white;
    text-align: center;
     box-shadow:  0px 0px 13px 5px rgba(196,196,196,1);
     width: 110vh;
}
h1, h2{
    text-align: center;
    color: rgb(224, 181, 64);
}
ul{
    list-style: none;
    font-style: italic;
    text-align: center;
    color: rgb(238, 168, 124);
    
}
.flip-box {
    background-color: transparent;
    border: 1px solid #f1f1f1;
   height: 100%;
   width: 50%;
   text-align: center;
   margin-left: 300px;
  
  }
  
  
  .flip-box-inner {
     position: relative; 
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: rgb(84, 92, 100);
    color: white;
    transform: rotateY(180deg);
  }

.bg-image {
    
    background-image: url("./images/nviiri-the-storyteller-640x467.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .bg-text {

    color: white;
    font-weight: bold;
  }
  .Nviiri{
    display: flex;
    padding-top: 50px;
   justify-content: center;
  }
  .N-content{
    font-size: 20px;
    padding-left: 40px;
    width: 40%;
  }
  .Okello
  {
    display: flex;
    padding-top: 50px;
   justify-content: center;
  }
.O-content{
  font-size: 20px;
    padding-left: 40px;
    width: 40%;
}